# Headscale environment example

HEADSCALE_DB_USER=headscale
HEADSCALE_DB_PASSWORD=SuperSecretHeadscaleDBPassword
HEADSCALE_DB_NAME=headscale
HEADSCALE_SECRET_KEY=replace-with-a-strong-random-secret
HEADSCALE_SERVER_URL=http://localhost:9000
